@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #56499e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 0.313rem;
}

.todoForm {
  width: 100%;

}
.editTaskForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.todo-input {
  outline: none;
  background: none;
  border: 0.063rem solid #dd3bc2;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 18.75rem;
  color: #fff;
}

.todo-input::-webkit-input-placeholder {
  color: #ffffff4d;
}

.todo-input::-moz-placeholder {
  color: #ffffff4d;
}

.todo-input:-ms-input-placeholder {
  color: #ffffff4d;
}

.todo-input::-ms-input-placeholder {
  color: #ffffff4d;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #dd3bc2;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dd3bc2;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.313rem;
  margin-bottom: 1rem;
  cursor: pointer;

}

.todo > p {
  width: 16.875rem;
  height: 100%;
  word-wrap: break-word;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}
 

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}